* {
	box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
  text-align: center;
	vertical-align: baseline;
}
body {
  overflow: hidden;
}
input[type=range] {
  -webkit-appearance: none;
  /* width: 100%; */
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 18px;
  background: #9bc;
  cursor: pointer;
  margin-top: -11px;
  box-shadow: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 18px;
  background: #9bc;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 18px;
  background: #9bc;
  cursor: pointer;
}

/* track */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 0;
  border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 48px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 0;
  border: none;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}


#counter {
  background-color: #fff;
  border-radius: 8px;
  color: #0081b1;
  flex-grow: 1;
  font-size: 48px;
  font-weight: bold;
}

.app {
  background-color: #cef;
  margin: 0;
  max-width: 400px;
  padding: 20px 30px 15px 30px;
}

.row {
  display: flex;
  padding: 8px 0;
}
.bpm-label {
  align-self: flex-end;
  color: #9bc;
  flex-grow: 1;
  font-weight: bold;
  padding-left: 8px;
  text-align: left;
}
.small-btn {
  background: #9bc;
  border: none;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 48px;
  outline: none;
  width: 48px;
}
.small-btn:hover {
  background: #8ab;
}
#slider {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
#bpm {
  border: none;
  border-radius: 8px;
  color: #9bc;
  font-size: 48px;
  font-weight: bold;
  max-width: 150px;
  text-align: center;
}
#run-toggle {
  left: -10000px;
  position: absolute;
  visibility: hidden;
}
#run-toggle + label {
  background: #9bc;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  line-height: 48px;
  outline: none;
  width: 48px;
}
#run-toggle + label > i:before {
  content: '\e802';
}
#run-toggle:checked + label > i:before {
  content: '\e803';
}